<mat-card-title-group>
  <mat-card-title>{{event?.name}}</mat-card-title>
  <mat-card-subtitle>{{event?.dates?.start?.dateTime |  date : "mediumDate"}}</mat-card-subtitle>
  <img mat-card-sm-image [src]="imgUrl" >
</mat-card-title-group>
<mat-card-content>
  {{""}}
</mat-card-content>