<div class="responsive-content ">
  <mat-toolbar style="background-color: rgb(203, 204, 208);">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span>Events</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="notCoded()" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="notCoded()" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card class="example-card" *ngFor = "let event of data" style="padding:5%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{event.name}} </mat-card-title>
      <mat-card-subtitle>{{event.pleaseNote}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getImage(event)">
    <mat-card-content>
      <p>
        {{event?.info}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewDetails(event?.id)">DETAILS</button>
      <button mat-button (click)="notCoded()" >SHARE</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
  </mat-card>
</div>