/* Page Container */
.responsive-content {
    padding: 0px 0px 16px;
    background: #f5f5f5;
}

.responsive-content.with-fixedbar {
    padding-top: 0px;
}

.responsive-content.with-float {
    padding-bottom: 100px
}


.responsive-content.with-footer {
    padding-bottom: 150px;
}

.responsive-content.with-2-float {
    padding-bottom: 165px;
}


@media (min-width: 768px) {
.responsive-content {
        padding: 0px 15px 15px; 
}

.responsive-content.with-fixedbar {
    padding-top: 0px;
}
    
}